@tailwind base;
@tailwind components;
@tailwind utilities;



.dark {
  background-color: #000;
  color: #fff;
  /* Add other dark mode styles */
}

.light {
  background-color: #fff;
  color: #000;
  /* Add other light mode styles */
}